#**Trabalhando com Planilhas do Excel**

In [ ]:
#Importando o pandas
import pandas as pd

In [ ]:
#Leitura dos arquivos
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [ ]:
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
#as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#as 5 últimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
df.sample(5)

     Cidade       Data  Vendas  LojaID  Qtde
51   Recife 2019-01-01  146.95     982     2
19   Recife 2019-01-01  199.43     983     7
114  Recife 2019-03-02   16.82     983     4
120  Recife 2019-03-02  184.90     982     4
123  Recife 2019-03-02   20.22     981     6

In [ ]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
#Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

**Tratando valores faltantes**

In [ ]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#Substituindo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [ ]:
df["Vendas"].mean()

122.61180089485438

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
27      Recife 2019-01-01   22.25    980     7
160      Natal 2019-01-02   11.76   1034     1
3        Natal 2019-01-07  271.00    854     3
90     Aracaju 2018-01-01   16.27   1522     1
192      Natal 2019-01-02  166.51   1036     1
138      Natal 2019-01-02  212.03   1037     3
77     Aracaju 2018-01-01   24.10   1522     1
29      Recife 2019-01-01   10.18    980     8
12    Salvador 2019-01-01  125.05   1034     3
51       Natal 2018-01-21  859.00    852     4
0        Natal 2018-08-27  606.00    853     2
105      Natal 2019-01-02   32.83   1037     1
196   Salvador 2019-01-02  145.09   1036     2
72   Fortaleza 2019-01-01  106.72   1003     4
230   Salvador 2019-01-03  184.69   1036     1

In [ ]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [ ]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [ ]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

**Criando colunas novas**

In [ ]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [ ]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [ ]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [ ]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [ ]:
#nlargest
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [ ]:
#nsamllest
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [ ]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [ ]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

#**Trabalhando com datas**

In [32]:
#Trasnformando a coluna de data em tipo inteiro
df["Data"] = df["Data"].astype("int64")

In [33]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [34]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [35]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [36]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [37]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [38]:
df.sample(5)

        Cidade       Data  Vendas  ...  Receita  Receita/Vendas  Ano_Venda
20       Natal 2018-06-08  608.00  ...  2432.00             4.0       2018
86       Natal 2019-01-02  156.47  ...   469.41             3.0       2019
204   Salvador 2019-01-02  151.41  ...   302.82             2.0       2019
206   Salvador 2019-01-02  151.45  ...   302.90             2.0       2019
90   Fortaleza 2019-01-01   18.01  ...    36.02             2.0       2019

[5 rows x 8 columns]

In [39]:
#Extraindo o mês e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [40]:
df.sample(5)

       Cidade       Data  Vendas  ... Ano_Venda  mes_venda  dia_venda
86   Salvador 2019-01-01  156.47  ...      2019          1          1
44      Natal 2019-01-03  500.00  ...      2019          1          3
43      Natal 2019-04-01  538.00  ...      2019          4          1
111    Recife 2019-03-02    8.00  ...      2019          3          2
223  Salvador 2019-01-02   40.51  ...      2019          1          2

[5 rows x 10 columns]

In [41]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [42]:
#Calculando a diferença de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [43]:
df.sample(5)

        Cidade       Data  Vendas  ... mes_venda  dia_venda  diferenca_dias
148   Salvador 2019-01-02   40.59  ...         1          2        366 days
45       Natal 2019-03-11  431.00  ...         3         11        434 days
24   Fortaleza 2019-01-01   35.38  ...         1          1        365 days
86     Aracaju 2018-01-01  154.92  ...         1          1          0 days
234   Salvador 2019-01-03   48.39  ...         1          3        367 days

[5 rows x 11 columns]

In [44]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter

In [45]:
df.sample(5)

        Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
42       Natal 2019-03-02  775.00  ...         2        425 days                1
44      Recife 2019-01-01  142.21  ...         1        365 days                1
71    Salvador 2019-01-01   21.36  ...         1        365 days                1
117  Fortaleza 2019-03-02   15.42  ...         2        425 days                1
34       Natal 2019-01-07  484.00  ...         7        371 days                1

[5 rows x 12 columns]

In [46]:
#Filtrando as vendas de 2019 do mês de março
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [47]:
vendas_marco_19.sample(20)

        Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
7        Natal 2019-03-18  886.00  ...        18        441 days                1
45       Natal 2019-03-11  431.00  ...        11        434 days                1
120   Salvador 2019-03-02  140.17  ...         2        425 days                1
121     Recife 2019-03-02   41.55  ...         2        425 days                1
134   Salvador 2019-03-02  125.90  ...         2        425 days                1
132     Recife 2019-03-02   17.49  ...         2        425 days                1
114  Fortaleza 2019-03-02   16.82  ...         2        425 days                1
123   Salvador 2019-03-02  127.45  ...         2        425 days                1
141     Recife 2019-03-02  182.75  ...         2        425 days                1
139     Recife 2019-03-02  141.16  ...         2        425 days                1
113  Fortaleza 2019-03-02   38.63  ...         2        425 days                1
136  Fortaleza 2019-03-02   39.09  ...         2        425 days                1
123     Recife 2019-03-02   20.22  ...         2        425 days                1
2        Natal 2019-03-11  308.00  ...        11        434 days                1
109     Recife 2019-03-02   18.90  ...         2        425 days                1
114   Salvador 2019-03-02   25.52  ...         2        425 days                1
123  Fortaleza 2019-03-02   20.22  ...         2        425 days                1
124   Salvador 2019-03-02   44.82  ...         2        425 days                1
125   Salvador 2019-03-02   25.00  ...         2        425 days                1
129     Recife 2019-03-02   35.34  ...         2        425 days                1

[20 rows x 12 columns]